$o-assets-global-path: '/bower_components/' !default;

$o-assets-paths-map: ();

@function oAssetsUse ($asset, $module, $version: undefined) {

    $full-path: $asset;

    // latest API doesn't require a third parameter
    @if ($version == undefined) {
        
        @if (map-has-key($o-assets-paths-map, $module)) {
            $module-path: map-get($o-assets-paths-map, $module)
            $full-path: $module-path + '/' + $full-path;
        } @else {
            // preserves old behaviour of defaulting to module name
            $full-path: $module + '/' + $full-path;
        }

    // for backwards compatibility
    } @else {
        @if ($module) {
            @if ($version) {
                $full-path: $module + '@' + $version + '/' + $full-path;
            } @else {
                 $full-path: $module + '/' + $full-path;
            }
        }
    }

    @if ($o-assets-global-path) {
    	$full-path: $o-assets-global-path + $full-path;
    }

    @return #{$full-path};
}

@function oAssetsSetModulePaths ($path-map) {
    map-merge($o-assets-paths-map, $path-map);
}